<div class="auction-list-start-date" ng-show="status.live">
  <span class="label label-success">Live</span>
  This auction started at {{ auction.start_date | date: 'hh:mma MMM dd, yyyy'}}
</div>

<div class="auction-list-start-date" ng-show="status.expired">
  <span class="label label-danger">Expired</span>
  This auction ended at {{ auction.end_date | date: 'hh:mma MMM dd, yyyy' }}
</div>

<div ng-show="status.notstarted" class="auction-list-start-date">
  Auction starts {{ auction.start_date | date : "hh:mma MMM dd, yyyy"}}
</div> 