<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Login</h4>
				
				<p>
					If you do not have an account please <a href="/register">request access</a>.
				</p>

				<h5>Demo logins using:</h5>

				<ul class="list-unstyled">
					<li><strong>Player One:</strong> player1/demo</li>
					<li><strong>Player Two:</strong> player2/demo</li>
				</ul>
			</div>

			<form ng-submit="login.doLogin()">
				<div class="panel-body">
					<!-- USERNAME INPUT -->
					<div class="form-group">
						<label>Email</label>

						<input type="text" class="form-control" name="username" ng-model="login.loginData.username" />
					</div>

					<!-- PASSWORD INPUT -->
					<div class="form-group">
						<label>Password</label>

						<input type="password" class="form-control" name="password" ng-model="login.loginData.password" />
					</div>

					<div class="alert alert-danger" ng-if="login.error">
						{{ login.error }}
					</div>

					<div class="row show-hide-message" ng-show='login.message'>
						<div class="col-sm-6 col-sm-offset-2">
							<div class="alert alert-info">
								{{ login.message }}
							</div>
						</div>
					</div>

					<!-- LOGIN BUTTON -->
					<p>
						<button class="btn btn-block btn-lg btn-primary">
							<span ng-if="!login.processing">Login</span>

							<span ng-if="login.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
						</button>
					</p>
				</div>
			</form>
		</div>
	</div>
</div>