# VUE APP
NODE_ENV=development
VUE_APP_TITLE=Real-time Auctions (Staging)
VUE_APP_HOST=http://localhost:8888

# EXPRESS APP
DOMAIN=https://yourdomain.com
EMAIL=info@yourdomain.com
PORT=8080

# MONGODB
DB_HOST=localhost
DB_NAME=realtime-auctions

# TOKEN
TOKEN_EXPIRY=30
SECRET=enteryoursecrettoken

# aws
AWS_S3_BUCKET=
AWS_HOST=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
