<div class="loader" ng-show="user.uploading">
	<img src="/assets/images/oval.svg" alt="">
</div>

<div class="row show-hide-message" ng-show='user.message'>
	<div class="alert alert-info">
		{{ user.message }}
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Request Access</h4>
				
				<p>
					Please complete the form below to request access to Real-time Auctions
				</p>
			</div>

			<form class="form-horizontal" ng-submit="user.saveUser()">
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-3 control-label">Name <span class="text-danger">*</span></label>

						<div class="col-sm-9">
							<input type="text" class="form-control" ng-model="user.userData.name" required>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Email <span class="text-danger">*</span></label>

						<div class="col-sm-9">
							<input type="text" class="form-control" ng-model="user.userData.username" required>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Password <span class="text-danger">*</span></label>

						<div class="col-sm-9">
							<input type="password" class="form-control" ng-model="user.userData.password" required>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Confirm password <span class="text-danger">*</span></label>

						<div class="col-sm-9">
							<input type="password" class="form-control" ng-model="user.userData.confirm_password" required>
						</div>
					</div>

					<hr />

					<div class="form-group">
						<label class="col-sm-3 control-label">P.O. Box Number</label>

						<div class="col-sm-9">
							<input type="text" class="form-control" ng-model="user.userData.pobox">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Home Street Address</label>

						<div class="col-sm-9">
							<input type="text" class="form-control" ng-model="user.userData.address">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">City</label>

						<div class="col-sm-9">
							<input type="text" class="form-control" ng-model="user.userData.city">
						</div>
					</div>

					<hr />

					<div class="form-group">
						<label class="col-sm-3 control-label">Mobile Phone Number</label>

						<div class="col-sm-9">
							<input type="text" class="form-control" ng-model="user.userData.mobile">
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-success btn-lg btn-block">Request Access</button>
				</div>
			</form>
		</div>
	</div>
</div>