<div ng-show="main.user.admin">
	<ul class="breadcrumb">
		<li>Auctions</li>
	</ul>

	<p>
		<a href="/auctions/create" class="btn btn-default btn-lg btn-block" ng-if="main.user.admin"><span class="glyphicon glyphicon-plus"></span>New Auction</a>
	</p>

	<div class="jumbotron text-center" ng-show="user.processing" >
		<span class="glyphicon glyphicon-repeat spinner"></span>
		<p>Loading Auctions...</p>
		<a href="#" ng-click="reloadRoute()">Click here to reload</a>
	</div>

	<ul class="nav nav-pills nav-stacked" ng-show="auction.auctions">
		<li ng-repeat="auction in auction.auctions">
			<a ng-href="/auctions/{{ auction._id }}">
				<span ng-show="{{auction.enabled}}">{{ auction.name }}</span>
				<strike class="text-muted" ng-hide="{{auction.enabled}}">{{ auction.name }}</strike>
				<br />

				<span class="text-muted">
					<span class="glyphicon glyphicon-time"></span>
					{{ auction.start_date | date :  'HH:mm dd/MM/yyyy' }} to
					{{ auction.end_date | date :  'HH:mm dd/MM/yyyy' }}
				</span>
			</a>
		</li>
	</ul>
</div>